@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*--------------
Fonts
--------------*/
@font-face {
    font-family: SofiaBold;
    src: url(../fonts/Sofia\ Pro\ Bold\ Az.otf);
}
@font-face {
    font-family: SofiaMedium;
    src: url(../fonts/Sofia\ Pro\ Medium\ Az.otf);
}
@font-face {
    font-family: SofiaRegular;
    src: url(../fonts/Sofia\ Pro\ Regular\ Az.otf);
}
@font-face {
    font-family: SofiaLight;
    src: url(../fonts/Sofia\ Pro\ Light\ Az.otf);
}
@font-face {
    font-family: SofiaUltraLight;
    src: url(../fonts/Sofia\ Pro\ UltraLight\ Az.otf);
}
/*--------------
Reset
--------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;

}
body,html{
    width: 100%;
    overflow-x: hidden;
    background: var(--body-bg);
}
/*--------------
Root
--------------*/
:root{
    --color-1:white;
    --color-2:#A1B71B;
    --color-3:#181E2A;
    --color-4:#2D3545;
    --color-text-1:white;
    --color-text-2:#A1B71B;
    --color-text-3:#181E2A;
    --color-text-4:#2D2D2F;
    --color-text-5:#000000;
    --color-text-6:#999999;
    --color-text-7:#686868;
    --color-text-8:#8B8B8B;
    --color-text-9:#CBCBCB;
    --body-bg:#f4f4f4;
}
/*--------------
Global Style
--------------*/
.SquareIcon{
    border: 4px solid var(--color-2);
}
.SectionTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.SectionTitle h2{
    font-family: SofiaBold;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 50px;
    color: var(--color-text-3);
    margin: 0;
    padding: 0;
    font-family: SofiaBold;

}
.SectionTitle p{

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    /* or 24px */   
    color: var(--color-text-4);
    text-align: center;
    width: 45%;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    font-family: SofiaLight;
}
/*--------------
Swiper
--------------*/
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{
      border-radius: 0;
      width: 16px;
      height: 16px;
      
  }
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active{
      background: #A1B71B;
  }
/*--------------
Header
--------------*/
header{
    height: 80px;
    background: var(--color-3);
    z-index: 1000;
}
header.active{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: var(--color-3);
}
header .DekstopNavCon{
    height: 100%;
}
header .DekstopNavCon .row{
    height: 100%;
}
header .DekstopNavCon .col-12{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .DekstopNavCon .col-12 > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .DekstopNavCon .col-12 .logo p{
    color: var(--color-text-1);
    margin: 0;
    font-weight: 500;
    font-family: SofiaBold;
    font-size: 40px;
    line-height: 46.88px;
}
header .DekstopNavCon .col-12 .logo p span{
    color: var(--color-text-2);
}
header .DekstopNavCon .col-12 .NavList ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
header .DekstopNavCon .col-12 .NavList ul li{
    margin: 0 15px ;
}
header .DekstopNavCon .col-12 .NavList ul li a{
    color: var(--color-text-1);
    font-style: normal;
    font-weight: normal;
    font-family: SofiaUltraLight;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    transition: all 300ms;
}
header .DekstopNavCon .col-12 .NavList ul li:hover a{
    color: var(--color-2);
}
header .DekstopNavCon .col-12 .NavEnd .left{
    margin-right: 15px;
}
header .DekstopNavCon .col-12 .NavEnd .left a{
    margin: 0 10px;
}
header .DekstopNavCon .col-12 .NavEnd .left button{
    background: transparent;
    border: none;
    outline: none;
    margin: 0 10px;
}
header .DekstopNavCon .col-12 .NavEnd .left i{
    color: var(--color-text-1);
    font-size: 20px;
    transition: all 300ms;
}
header .DekstopNavCon .col-12 .NavEnd .left i:hover{
    color: var(--color-text-2);
}

header .DekstopNavCon .col-12 .NavEnd .right{
    display: flex;
    align-content: center;
    justify-content: center;
}
header .DekstopNavCon .col-12 .NavEnd .right a{
    color: var(--color-text-1);
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
    font-family: SofiaUltraLight;
}
header .DekstopNavCon .col-12 .NavEnd .right a:hover{
    color: var(--color-2);
}
header .DekstopNavCon .col-12 .NavEnd .right a:nth-child(1){
    border-right: 1px solid var(--color-text-1);
    padding-right: 10px;
}
header .DekstopNavCon .col-12 .NavEnd .right a:nth-child(2){
    padding-left: 8px;
}
/*--------------
MobileNavCon
--------------*/
.MobileNavCon{
    height: 100%;
}
.MobileNavCon .row{
    height: 100%;
}
.MobileNavCon .col-12{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.MobileNavCon .col-12 .logo p{
    color: var(--color-text-1);
    margin: 0;
    font-weight: 500;
    font-size: 35px;
    line-height: 46.88px;
}
.MobileNavCon .col-12 .logo p span{
    color: var(--color-text-2);
}
.MobileNavCon .col-12 .hamburger--elastic .hamburger-inner::before,
.MobileNavCon .col-12 .hamburger--elastic .hamburger-inner::after,
.MobileNavCon .col-12 .hamburger--elastic .hamburger-inner{
    background: var(--color-1);
}
/*--------------
MobileOpenMenu
--------------*/
.MobileOpenMenu{
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: 0;
    background: var(--color-3);
    z-index: 1000;
    overflow: hidden;
    transition: all 400ms;
}
.MobileOpenMenu.active{
    height: 100%;
}
.MobileOpenMenu .NavList{
    margin-top: 30px;
}
.MobileOpenMenu .NavList ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.MobileOpenMenu .NavList ul li{
    margin:  5px 0 ;
}
.MobileOpenMenu .NavList ul li a{
    color: var(--color-text-1);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    transition: all 300ms;
}
.MobileOpenMenu .NavList ul li:hover a{
    color: var(--color-2);
}
.MobileOpenMenu .NavEnd .left{
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
}
.MobileOpenMenu .NavEnd .left a{
    margin: 0 10px;
}
.MobileOpenMenu .NavEnd .left button{
    background: transparent;
    border: none;
    outline: none;
    margin: 0 10px;
}
.MobileOpenMenu .NavEnd .left i{
    color: var(--color-text-1);
    font-size: 20px;
    transition: all 300ms;
}
.MobileOpenMenu .NavEnd .left i:hover{
    color: var(--color-text-2);
}

.MobileOpenMenu .NavEnd .right{
    display: flex;
    align-content: center;
    justify-content: center;
}
.MobileOpenMenu .NavEnd .right a{
    color: var(--color-text-1);
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
}
.MobileOpenMenu .NavEnd .right a:hover{
    color: var(--color-2);
}
.MobileOpenMenu .NavEnd .right a:nth-child(1){
    border-right: 1px solid var(--color-text-1);
    padding-right: 10px;
}
.MobileOpenMenu .NavEnd .right a:nth-child(2){
    padding-left: 8px;
}
/*--------------
Banner
--------------*/
#Banner{

    background: var(--color-3);
    padding: 40px 0 0 0 ;
    overflow: hidden;
}
#Banner.UrunBanner .col-12{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
}
#Banner.UrunBanner .col-12 h2{
    margin: 0;
    padding: 0;
    font-family: SofiaBold;
    font-style: normal;
font-weight: 600;
font-size: 60px;
line-height: 60px;
/* identical to box height */


color: #FFFFFF;
}
#Banner.UrunBanner .col-12 p{
    margin: 0;
    padding: 0;
    font-family: SofiaRegular;
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 18px;
/* identical to box height */


color: #FFFFFF;
margin-top: 15px;
}
#Banner .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#Banner .left h1{
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 80px;
    color: var(--color-text-1);
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-family: SofiaMedium;
}
#Banner .left h1 span{
    color: var(--color-text-2);
}
#Banner .left p{
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: var(--color-text-1);
    opacity: 0.7;
    font-weight: 400;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}
#Banner .left .buttons{
    display: flex;
    align-items: center;
    margin-top: 60px;
}
#Banner .left .buttons a:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    width: 187px;
    height: 61px;
    background:  var(--color-2);
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: var(--color-text-1);
    transition: all 300ms;
    font-family: SofiaLight;
}
#Banner .left .buttons a:nth-child(1):hover{
    background: transparent;
    
    
}
#Banner .left .buttons a:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    width: 187px;
    height: 61px;
    background: var(--color-1);
    
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: var(--color-text-2);
    margin-left: 10px;
    transition: all 300ms;
    font-family: SofiaLight;

}
#Banner .left .buttons a:nth-child(2):hover{
    background: transparent;
}
#Banner .right {
    position: relative;
}
#Banner .right img{
    height: 500px;
}
#Banner .right .SquareIcon{
    position: absolute;

    right: 0;
}
#Banner .right .Icon1{
    width: 79px;
    height: 79px;
    left: 25%;
    top: 50%;
    transform: translate(50%);
}
#Banner .right .Icon2{
    width: 43px;
    height: 43px;
    left: 60%;
    bottom: 25%;
}
#Banner .right .Icon3{
    width: 45.64px;
    height: 45.64px;
    transform: rotate(-67.33deg);
    right: 1%;
    bottom: 50%;
}
#Banner .right .Icon4{
    width: 109px;
    height: 109px;
    transform: rotate(-14.46deg);
    right: 12%;
    bottom: 62%;
}
#Banner .right .Icon5{
    width: 45.64px;
    height: 45.64px;
    transform: rotate(-67.33deg);
    left: 40%;
    top: 10%;
}
#Banner .right .Icon6{
    width: 57.92px;
    height: 57.92px;
    transform: rotate(-67.33deg);
    right: 0%;
    top: 00%;
}
/*--------------
Best Products
--------------*/
#BestProducts{
    padding: 80px 0;
    background: #E5E5E5;
}
#BestProducts .Top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#BestProducts .Top .Text h3{
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 50px;
    color: var(--color-text-3);
    margin: 0;
    padding: 0;
    font-family: SofiaBold;

}
#BestProducts .Top .Text p{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    color: var(--color-text-4);
    opacity: 0.7;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    width: 550px;
    font-family: 'Roboto', sans-serif;
}
#BestProducts .Top a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 167px;
    height: 61px;
    background: var(--color-3);
    
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    transition: all 300ms;
    font-family: SofiaMedium;
}

#BestProducts .Card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:15px;
}
#BestProducts .Card .content{
    background: var(--color-1);
    padding: 20px;
    margin: 15px 0;
}
#BestProducts .Card .content .ImgDiv{
    position: relative;
}
#BestProducts .Card .content img{
    width: 100%;
    height: 339px;
}   
#BestProducts .Card .content .HoverMenu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: all 300ms;
    opacity: 0;
    visibility: hidden;
}
#BestProducts .Card .content .ImgDiv:hover .HoverMenu{
    opacity: 1;
    visibility: visible;
}
#BestProducts .Card .content .HoverMenu::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background: black;
    opacity: .6;
    z-index: 1;
}
#BestProducts .Card .content .HoverMenu a:nth-child(1){

    margin: 0;
    padding: 0;
    background: var(--color-2);
    color: white;
    width: 182px;
height: 61px;
text-align: center;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 20px;
/* identical to box height */
display: flex;
align-items: center;
justify-content: center;
text-align: center;

color: #FFFFFF;
font-family: SofiaBold;
z-index: 100;
}
#BestProducts .Card .content .HoverMenu a:nth-child(2){
    margin: 0;
    padding: 0;
    background: transparent;
    color: white;
    border: 1px solid white;
    width: 182px;
    margin-top: 10px;
height: 61px;
text-align: center;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 20px;
/* identical to box height */
display: flex;
align-items: center;
justify-content: center;
text-align: center;

color: #FFFFFF;
font-family: SofiaBold;
z-index: 100;
}
#BestProducts .Card .content .CardText{
    padding: 20px 0;
}
#BestProducts .Card .content h4{
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 24px;
color: var(--color-text-5);
font-family: SofiaBold;

}
#BestProducts .Card .content .CardText p{
    font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 18px;
color:var(--color-text-6);
margin: 0;
font-family: SofiaLight;

}
#BestProducts .Card .content .CardText .PriceDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#BestProducts .Card .content .CardText > h4{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    margin-top: 15px;
    color: #000000;
    color: var(--color-text-5);
    font-family: SofiaBold;
}
#BestProducts .Card .content .CardText
#BestProducts .Card .content .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*--------------
Special Edition
--------------*/
#SpecialEdition{
    padding: 50px 0;
    background: var(--color-3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
#SpecialEdition .content{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

}
#SpecialEdition .content h3{
    color: var(--color-text-1);
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 71px;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: SofiaLight;

}
#SpecialEdition .content p{
    color: var(--color-text-1);
 
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */
    text-align: center;
    width: 70%;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;

}
#SpecialEdition .content a{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-2);
    color: var(--color-text-1);
    width: 267px;
    height: 70px;
    border: 1px solid var(--color-2);
    transition: all 300ms;
    margin-top: 20px;
    font-family: SofiaLight;

}
#SpecialEdition .content a:hover{
    background: transparent;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-bottom: 5px solid var(--color-2);
}
#SpecialEdition .Icon1{
    width: 51.73px;
    height: 51.73px;
    transform: rotate(-14.46deg);
    position: absolute;
    left:2%;
    top: 15%;
}
#SpecialEdition .Icon2{
    width: 86.67px;
    height: 86.67px;
    transform: rotate(-52.5deg);
    position: absolute;
    left: -70px;
    top:60%;
}
#SpecialEdition .Icon3{
    width: 64.08px;
    height: 64.08px;
    transform: rotate(30deg);
    position: absolute;
    left: 13%;
    top: 60%;
}
#SpecialEdition .Icon4{
    width: 46.14px;
    height: 46.14px;
    transform: rotate(30deg);
    position: absolute;
    right: 10%;
    top: 20%;
}
#SpecialEdition .Icon5{
    width: 73.79px;
    height: 73.79px;
    transform: rotate(-30deg);
    position: absolute;
    right: -40px;
    top: 50%;
}
#SpecialEdition .Icon6{
    width: 60px;
    height: 28px;
    position: absolute;
    right: 13%;
    bottom:  -10px;
}
/*--------------
Why We
--------------*/
#WhyWe{
    padding-bottom: 100px;
    margin-top: 100px;

    position: relative;
}
#WhyWe::before{
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../images/beautiful-shot-rocky-mountains-covered-with-white-snow\ 4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    bottom: 0;
    left: 0;
    opacity: .9;
    z-index: 1;
}
#WhyWe .SectionTitle{
    margin-bottom: 50px;
    z-index: 100;
}
#WhyWe .Card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    z-index: 100;
}
#WhyWe .Card .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    

border-radius: 10px;
padding: 20px 0;
transition: all 300ms;
}

#WhyWe .Card .content:hover{
    transform: translateY(-30px);
}
#WhyWe .Card .content .icon{
    position: relative;
}
#WhyWe .Card .content .icon::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(45deg);
    background: var(--color-2);
    z-index: -1;
    opacity: .5;
}
#WhyWe .Card .content .icon svg{
    z-index: 100;
}
#WhyWe .Card .content h3{
    color:var(--color-text-5);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height */
    font-family: SofiaBold;

    
    text-align: center;
    margin-top: 30px;
}
#WhyWe .Card .content p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: var(--color-text-7);
    margin: 0;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;

}
/*--------------
Testimonial
--------------*/
#Testimonial{
    padding: 40px 0;
}
#Testimonial .SectionTitle{
    margin-bottom: 30px;
}
#Testimonial .SectionTitle a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 186px;
    height: 42px;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    background: var(--color-2);
    
    margin-top: 20px;
    transition: all 300ms;
    font-family: SofiaLight;
    
}

#Testimonial .CommentsSlider{
    padding-bottom: 50px;

}
#Testimonial .CommentsSlider .swiper-slide{
    border-radius: 15px;
}
#Testimonial .CommentsSlider .content{
    width: 100%;
    height: 100%;
    background: var(--color-1);
    border-radius: 15px;
    padding: 10px;
}
#Testimonial .CommentsSlider .content .ProfilePhoto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;
}
#Testimonial .CommentsSlider .content .ProfilePhoto img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#Testimonial .CommentsSlider .content .ProfilePhoto h3{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: var(--color-text-5);
    margin: 7px 0;
    font-family: SofiaBold;

}
#Testimonial .CommentsSlider .content .ProfilePhoto p{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: var(--color-text-6);
    margin: 0;
    font-family: SofiaLight;


}
#Testimonial .CommentsSlider .content > p{
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 171%;
    /* or 27px */
    color: var(--color-text-6);
    text-align: center;
    font-family: 'Roboto', sans-serif;

}
/*--------------
Product Details
--------------*/
#ProductDetail{
    padding: 50px 0;
}
#ProductDetail .TopContainer{
    background: white;
    padding: 20px;
}
#ProductDetail .TopContainer .left{
    cursor: pointer;
}
#ProductDetail .TopContainer .left img{
    width: 100%;
    height: 100%;
}
#ProductDetail .TopContainer .right .Top h3{
    margin: 0;
    padding: 0;
    font-family: SofiaBold;
    font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 165%;
/* or 49px */


color: var(--color-text-5);

}
#ProductDetail .TopContainer .right .Top .Buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 20px 0;
}
#ProductDetail .TopContainer .right .Top .Buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    height: 56px;
    font-family: SofiaBold;
    font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 20px;
}
#ProductDetail .TopContainer .right .Top .Buttons a:nth-child(1){
    background: transparent;
    border: 1px solid var(--color-2);
    color: var(--color-text-2);
}
#ProductDetail .TopContainer .right .Top .Buttons a:nth-child(2){
    background: var(--color-2);
    border: 1px solid var(--color-2);
    color: var(--color-text-1);
}
#ProductDetail .TopContainer .right .ProductDetails{
    margin-top: 20px;
    width: 100%;
}
#ProductDetail .TopContainer .right .ProductDetails ul{
    margin: 0;
    padding: 0;
    width: 100%;
}
#ProductDetail .TopContainer .right .ProductDetails ul li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}
#ProductDetail .TopContainer .right .ProductDetails ul li p:nth-child(1){
    margin: 0;
    padding: 0;
    font-family: SofiaBold;
    font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 63%;
/* or 13px */


color: #000000;
}
#ProductDetail .TopContainer .right .ProductDetails ul li p:nth-child(2){
    margin: 0;
    padding: 0;
    font-family: SofiaLight;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 63%;
    /* or 13px */
    
    
    color: #000000;
    
    opacity: 0.7;
}

#ProductDetail .BottomContainer .row{
    padding: 0;
}
#ProductDetail .BottomContainer .col-12{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}
#ProductDetail .BottomContainer .col-12 .ImgDiv{
    background: white;
    width: 19%;
    height: 200px;
    margin-left: 10px;
    padding: 2px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#ProductDetail .BottomContainer .col-12 .ImgDiv img{
    width: 100%;
height: 100%;
}
/*--------------
TabSection
--------------*/
#TabSection .TabTarget{
    padding: 0;
    position: relative;
}
#TabSection .TabTarget::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: black;
    z-index: 1;
    opacity: 0.2;
}
#TabSection .TabTarget > .col-12{
    padding: 0;
}
#TabSection .TabTarget > .row{
    padding: 0;
}
#TabSection .TabTarget .container{
    z-index: 100;

}
#TabSection .TabTarget .container .col-12 ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    z-index: 100;
}
#TabSection .TabTarget .container .col-12 ul li {
    background: none;
    border: none;
    outline: none;
    padding: 10px 0;
    color: #525252;
    margin: 0 10px;
    z-index: 100;
    cursor: pointer;
}
#TabSection .TabTarget .container .col-12 ul li.active{
    color: var(--color-text-2);
    border-bottom: 2px solid var(--color-2);
}
#TabSection .TabContent{
    margin-top: 30px;
}
#TabSection .TabContent .TabContentCol{
    display: none;
}
#TabSection .TabContent .TabContentCol.active{
    display: inline-block;
}
#TabSection .TabContent .TanimCol .TopText h3{
    font-family: SofiaBold;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    /* identical to box height */
    
    
    color: #000000;
}
#TabSection .TabContent .TanimCol .TopText p{
    font-family: SofiaLight;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 165%;
/* or 33px */


color: #525252;
}
#TabSection .TabContent .TanimCol .List{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
#TabSection .TabContent .TanimCol .List > div:not(.List1){
    margin-left: 20px;
}
#TabSection .TabContent .TanimCol .List > div h3{
    margin: 0;
    padding: 0;
    font-family: SofiaBold;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 30px;

color: #000000;
}
#TabSection .TabContent .TanimCol .List   ul{
    list-style-type:unset !important;
    margin-top: 15px;
}
#TabSection .TabContent .TanimCol .List   ul li{
    margin: 5px 0;
    font-family: SofiaLight;
font-style: normal;
font-weight: normal;
font-size: 16px;

/* or 33px */


color: #000000;
}
/*--------------
SameProducts
--------------*/
#SameProducts{
    padding: 40px 0;
}
#SameProducts .TopTextCon{
    padding-bottom: 10px;
    position: relative;
}
#SameProducts .TopTextCon::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: black;
    opacity: .2;
}
#SameProducts .TopTextCon .container .col-12{
    padding: 0;
}
#SameProducts .Text h2{
    font-family: SofiaBold;
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 50px;
/* identical to box height */


color: #000000;
}
#SameProducts .ProductsCon{
    margin-top: 15px;
}
#SameProducts .ProductsCon .Products{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#SameProducts .ProductsCon img{
    width: 33.33%;
    cursor: pointer;
}
#SameProducts .ProductsCon img:not(:nth-child(1)){
    margin-left: 15px;
}
/*--------------
Footer
--------------*/
footer{
    padding-top: 70px;
    background: var(--color-3);
}
footer .FooterTopCon {
    padding-bottom: 20px;
}
footer .FooterTopCon .LeftCol .logo p{
    color: var(--color-text-1);
    margin: 0;
    font-weight: 500;
    font-family: SofiaRegular;
    font-size: 40px;
    line-height: 46.88px;
    margin: 0;
}
footer .FooterTopCon .LeftCol .logo p span{
    color: var(--color-text-2);
}
footer .FooterTopCon .LeftCol> p{
    font-family: SofiaRegular;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-text-8);
    margin: 5px 0;
}
footer .FooterTopCon .LeftCol .SocilaMedias{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
footer .FooterTopCon .LeftCol .SocilaMedias a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    
    border: 1px solid #FFFFFF;
    transition: all 300ms;
   
}
footer .FooterTopCon .LeftCol .SocilaMedias a:hover{
    background: transparent;
}
footer .FooterTopCon .LeftCol .SocilaMedias a:not(:first-child){
    margin-left: 10px;
}
footer .FooterTopCon .MainCol {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
footer .FooterTopCon .MainCol h2{
    font-family: SofiaRegular;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: var(--color-text-9);
    position: relative;
    margin: 0;
    padding-bottom: 5px;
    text-align: start;
    margin-bottom: 10px;
    display: inline-block;

}
footer .FooterTopCon .MainCol h2::before{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 50%;
    background: var(--color-2);
}
footer .FooterTopCon .MainCol ul{
    padding: 0;
    margin: 0;

}
footer .FooterTopCon .MainCol ul li{
    margin: 10px 0;
    transition: all 300ms;
}
footer .FooterTopCon .MainCol ul li:hover{
    transform: translateX(5px);
}
footer .FooterTopCon .MainCol ul li a{
    font-family: SofiaRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: var(--color-text-9);

}
footer .FooterTopCon .FooterEndCol h3{
    font-family: SofiaRegular;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: var(--color-text-9);
    position: relative;
    margin: 0;
    padding-bottom: 5px;
    text-align: start;
    margin-bottom: 10px;
    display: block;
    text-align: end;
    position: relative;
}
footer .FooterTopCon .FooterEndCol h3::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 3px;
    width: 20%;
    background: var(--color-2);
}
footer .FooterTopCon .FooterEndCol ul{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}
footer .FooterTopCon .FooterEndCol ul li{
    display: inline-block;
    padding: 10px;

    color: white;
    text-align: end;
    font-family: SofiaBold;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 26px;
display: flex;
align-items: center;
justify-content: center;
color: #FFFFFF;
margin: 5px 0;
}
footer .FooterTopCon .FooterEndCol ul li:not(:last-child){
    background: #1C222E;
}
footer .FooterTopCon .FooterEndCol ul li:not(:last-child) svg,
footer .FooterTopCon .FooterEndCol ul li:not(:last-child) img{
    margin-right: 5px;
}
footer .FooterTopCon .FooterEndCol ul li:last-child{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
footer .FooterTopCon .FooterEndCol ul li:last-child a:not(:last-child){
    margin-right: 10px;
}
footer .FooterBottom{
    width: 100%;
    padding: 10px 0;
    background: #1E2534;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .FooterBottom p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    font-family: SofiaRegular;
    text-align: center;
    margin: 0;
    color: #6E7484;
}
/*--------------
Medias
--------------*/
@media (min-width: 1500px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1500px;
    }
  }
@media (min-width:992px) {
    .MobileNavCon{
        display: none;
    }
}
@media (max-width:992px){
    .DekstopNavCon{
        display: none;
    }
    #Banner{
        padding-top: 10px;
    }
    footer .FooterTopCon .MainCol{
        margin-top: 20px;
    }
    footer .FooterTopCon .MainCol:not(.MainCol1){
        margin-left: 50px;
    }
    #ProductDetail .TopContainer .left{
        margin-bottom: 20px;
    }
    #ProductDetail .BottomContainer .col-12 .ImgDiv{
        width: 18%;
    }
}
@media (max-width:600px){
    #Banner .left h1{
        font-size: 60px;
    }
    #Banner .right .Icon6{
        top: 30%;
        right: 60%;
    }
    #BestProducts .Top{
        flex-direction: column;
    }
    #BestProducts .Top .Text h3{
        text-align: center;
        font-size: 40px;
    }
    #BestProducts .Top .Text p{
        width: 100%;
        text-align: center;
    }
    #BestProducts .Top a{
        margin-top: 15px;
    }
    #SpecialEdition .content h3{
        font-size: 40px;
        z-index: 100;
    }
    .SectionTitle h2{
        text-align: center;
    }
    .SectionTitle p{
        width: 100%;
    }
    footer .FooterTopCon .MainCol{
        margin-top: 30px;
        align-items: flex-start;
    }
    footer .FooterTopCon .MainCol:not(.MainCol1){
        margin-left: 0px;
    }
    #ProductDetail .BottomContainer .col-12 .ImgDiv{
        width: 45%;
    }
    #TabSection .TabContent .TanimCol .List{
        flex-direction: column;
    }
    #TabSection .TabContent .TanimCol .List{
        align-items: flex-start;
    }
    #TabSection .TabContent .TanimCol .List > div{
        margin-left: 0 !important;
    }
    #SameProducts .ProductsCon img{
        width: 45%;
    }
    #Banner.UrunBanner .col-12 h2{
        text-align: center;
        font-size: 50px;
    }
    #Banner.UrunBanner .col-12 p{
        font-size: 18px;
    }
}